@page "/"
@inject SessionStateService SessionState

<PageTitle>Home</PageTitle>

<h1>Hello, @GetGreeting()!</h1>

<p>Welcome to your new app.</p>

@code {
    private string GetGreeting()
    {
        // If the user is logged in, display their UserId
        if (SessionState.IsUserLoggedIn())
        {
            return SessionState.UserId ?? "User";
        }
        else
        {
            return "world";
        }
    }
}
