@page "/create"

@using DriveShare.Frontend.Models
@using DriveShare.Frontend.Models.DTOs
@inject SessionStateService SessionState
@inject ApiClientService ApiClient
@rendermode InteractiveServer

<p>Welcome to your new app.</p>